.introduction {
    background-color: #736b6b;
    padding: 60px 20px;
    text-align: center;
    background-image: url(../Image/796832.jpg);
  }
  
  .intro-content {
    background-image: url(../Image/894778.jpg);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;

  }
  
  .introduction h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .introduction p {
    color: #ffffff;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .introduction p:last-child {
    margin-bottom: 0;
  }
  