/* Styles for Skills Component */
html {
  scroll-behavior: smooth;
}
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  margin-top: 30px;
  background-image: url(../Image/flat-lay-desktop-with-agenda-magnifying-glass.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.skills-container h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px;
  justify-items: center;
  width: 80%; /* Ensures the grid is not too wide */
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(244, 244, 248);
  padding: 20px;
  border-radius: 8px;
  width: 50px; /* Fixed width for each card */
  height: 50px; /* Fixed height for each card */
  transition: transform 0.3s;
  text-align: center;
}

.skill-card:hover {
  transform: scale(1.05);
}

.skill-icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: #007bff; /* Blue color for icons */
}

.skill-card p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  margin-top: 10px;
  color: #333;
}
@media (max-width: 1200px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

@media (max-width: 900px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr; /* 1 column */
  }
}
